.text {
	color: white;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	font-weight: lighter;
	font-size: 24px;
	background-color: #1c1d22;
	
}
body {
	background-color: #1c1d22;
}
.block {
	background-color: black; 

}

.block1 {
	background-color: black; 

}
.block2 {
	background-color: black; 

}
.block3 {
	background-color: black; 

}
.color{
	color: white;
	text-align: center;
	line-height: height;
}


.arrow {
	width: : 100px;
	height: 80px;
}
